{% extends 'parent.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="profile-section">
			<div class="profile-details">
				<div
					class="profile-left">
					<!-- Photo de profil -->
					<div class="card-img-profil">
						<img src="http://127.0.0.1:3000/images/avatar/{{ actualUser.avatar }}" alt="Profile Picture" class="profile-img">
					</div>
				</div>
				<div
					class="profile-right">
					<!-- Nom d'utilisateur -->
					<h2>{{ actualUserName }}</h2>
					<!-- Rôle -->
					{% if actualUserRole == "ROLE_ADMIN" %}
						<p>Rôle : Administrateur
						</p>
					{% else %}
						<p>Rôle : Utilisateur
						</p>
					{% endif %}
					<!-- Changer le mot de passe -->
					<a href="{{ path('edit_profil') }}">Modifier son profil</a>
				</div>
			</div>
			<div
				class="profile-description">
				<!-- Description de l'utilisateur -->
				<p>{{ actualUser.description }}</p>
			</div>
			<hr>
			<div class="image-gallery">
				{% if allPhotosUser is empty %}
					<p>Aucune photo disponible pour le moment.</p>
				{% else %}
					{% for photoUser in allPhotosUser %}
						<a class="image-item" href="{{ path('post', {'photoId': photoUser.id}) }}">
							<img src="http://127.0.0.1:3000/images/photos/{{ photoUser.image }}" class="card-img" alt="Photo">
						</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
