{% extends 'parent.html.twig' %}

{% block titre %}
	{{ parent() }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="container-form-connexion">
		<div class="container-md">
			<div class="row">
	
				{% if success is defined %}
					<div class="alert alert-success">
						{{ success }}
					</div>
				{% endif %}

				<form method='POST' action='/register' enctype="multipart/form-data" class="col-lg-3 col-12 mx-auto form-connexion pt-4 mb-4">

					<div class='form-group'>
						<input type='text' class='form-control' id='identifiant' name='username' placeholder='Identifiant' required>
					</div>
					<div class='form-group'>
						<input type='text' class='form-control' id='description' name='description' placeholder='Description'>
					</div>
					<div class='form-group mt-3'>
						<input type='password' class='form-control' id='password' name='password' placeholder='Mot de passe' required>
					</div>
					<div class='form-group mt-3'>
						<input type='password' class='form-control' id='passwordConfirm' name='passwordConfirm' placeholder='Confirmer mot de passe' required>
					</div>
					<div class='form-group mt-3'>
						<input type='file' class='form-control' id='avatar' name='avatar' accept="image/*">
					</div>
					{% if error is defined %}
						<a style="color:red; display:flex; justify-content:center;">
							{{ error }}
						</a>
					{% endif %}
					<button type='submit' class='btn btn-success mt-4 w-100'>Créer</button>
				</form>

				<div class="row">
					<p class="col-12 text-center">Déjà un compte ? <a href="/login">Connectez-vous</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
